@import 'tailwindcss';

#root {
  height: 100vh;
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.header {
  width: 26%;
  @media (max-width: 1000px) {
    width: 18%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.main {
  width: 36%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  @media (max-width: 1000px) {
    width: 40%;
  }
  @media (max-width: 768px) {
    width: 100%;
    min-height: 200px;
  }
}

.main::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.left {
  min-width: 38%;
  @media (max-width: 1000px) {
    width: 42%;
  }
  @media (max-width: 768px) {
    width: 100%;
    height: 400px;
  }
}

.hover {
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: #e5e7eb;
  }
  &:active {
    background-color: #d1d5db; /* чуть темнее для нажатия */
  }
}
